<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : circles
    - 3d Sensor : raypc3d
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki_batbot.urdf.xacro" />
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/sensors/raypc3d.urdf.xacro"/>
  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <raypc3d_sensor  parent="base_link"/>
</robot>